<h1>Home page</h1>

<p>Today is <%= Time.now.strftime('%d/%m/%Y') %> </p>

<ul>
	<% @categories.each{ |c| %>
	<li>
		<%= c %>
	</li>
	<% } %>
</ul>

<p>Choose from categories above</p>
<form action="/restaraunts" method="get">
	<input type="text" name="type" placeholder="What kind of food you like?">
	<input type="submit">
</form>

<p>Add new restaurant</p>
<form action="/restaraunts" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="text" name="name">
	<input type="text" name="address">
	<input type="submit">
</form>